/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	position: relative;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
	cursor: pointer;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.button-project{
	border-radius: 60px;
	border-color: #1D6154;
	border: solid 1px;
	font-size: 16px;
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	background-color: white;
	padding: 5px 20px 5px 20px;
	cursor: pointer;

}

.button-project:hover{
	background-color: #1D6154;
	color: white;
}

.button-project:focus{
	background-color: #1D6154;
	color: white;
}

.button-project-box{
	margin: 80px 0px;
	display: flex;
	justify-content: center;
	gap: 15px;
}

a {
	text-decoration: none;
	color: black;
}

.edition-box{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: black;
	margin: 0px;
	height: 40px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
}
#edition-box{
	display: none;
}
.edition{
	color: white;
	font-weight: 400;
	font-size: 16px;
	cursor: pointer;
}

.open{
	display: flex;
	gap: 10px;
}


.modal-overlay{
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	margin: 0px;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.6);
	justify-content: center;
	align-items: center;
	
}

.modal{
	flex-direction: column;
	gap: 10px;
	align-items: center;
	height: auto;
	width: 35%;
	background-color: white;
	padding: 50px;
	text-align: center;
	border-radius: 10px;
}

.modal h2{
	font-family: "Work Sans";
	font-weight: 400;
	font-size: 26px;
}

.close{
	display: flex;
	justify-content: flex-end;
	width: 100%;
	
}

.delete{
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: black;
	color: white;
	padding: 5px;
	font-size: 0.7em;
}

.modal-galerie{
	display: flex;
	padding-top: 50px;
	flex-wrap: wrap;
	width: 90%;
	gap: 10px;
	align-items: center;
}
.modal-work{
	position: relative;
	width: 18%;

}
.work-img{
	width: 100%;
	object-fit: scale-down;
}


.fa-xmark{
	cursor: pointer;
}

.project-conteneur{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.project-conteneur-login{
	display: none;
	margin-left: 30px;
	gap: 10px;
	cursor: pointer;
}

.fa-trash-can{
	cursor: pointer;
}

.button-modal{
	margin-top: 60px;
	border-radius: 60px;
	border: solid 1px;
	font-size: 14px;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	padding: 5px 20px 5px 20px;
	cursor: pointer;
	width: 240px;
	height: 36px;
}

.modal-add{
	display: none;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	height: auto;
	width: 35%;
	background-color: white;
	padding: 50px;
	text-align: center;
	border-radius: 10px;
}

.modal-add form {
	width: 90%;
}

.modal-add-icon{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

.modal-add-file{
	display: flex;
	flex-direction: column;
	background-color: #E8F1F6;
	align-items: center;
	gap: 20px;
	padding: 30px 0 30px;
	width: 100%;
}

.fa-image{
	color: #B9C5CC;
	font-size: 6em;
}

.modal-add-file input{
	display: none;
}

.modal-add-file img{
	display: none;
	max-width: 100%;
	max-height: 300px;
}

.modal-add-file label{
	background-color: #CBD6DC;
	border-radius: 50px;
	font-family: "Work Sans";
	font-weight: 500px;
	font-size: 14px;
	padding: 10px;
	width: 40%;
	cursor: pointer;
}

.modal-add-title-box{
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	padding-top: 20px;
}

.modal-add-title-box label{
	display: flex;
	font-family: "Work Sans";
	font-weight: 500;
	font-size: 14px;
	color: #3D3D3D;
	width: 100%;
}

.modal-add-title-box input{
	width: 100%;
	height: 50px;
	background-color: white;
	border: none;
	filter: drop-shadow(0px 4px 14px rgba(0,0,0, 0.15));
}


.modal-add-category-box{
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 20px;
	gap: 10px;
}

.modal-add-category-box label{
	display: flex;
	width: 100%;
	font-family: "Work Sans";
	font-weight: 500;
	font-size: 14px;
	color: #3D3D3D;
}

.modal-add-category-box select{
	width: 100%;
	height: 50px;
	background-color: white;
	border: none;
	appearance: none;
	filter: drop-shadow(0px 4px 14px rgba(0,0,0, 0.15));
}

.modal-add-button{
	margin-top: 50px;
	padding: 10px;
	color: white;
	background-color: #A7A7A7;
	border-radius: 60px;
	width: 50%;
	font-family:"Syne";
	font-weight: 700;
	font-size: 14px;
	border: none;

}